<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/bountonw">Brian Wilson</a>, as part of the first week's curriculam at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>. 
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid profile-image' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brian Wilson</h2>
      <br />
      <p>
        Brian Wilson spent most of his adult life working on various mission, humanitarian and business endeavors in southeast Asia. Having moved back to the States in 2013, Brian has transitioned into the field of software engineering. Splurty is his first project.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />